body {
  margin: 0;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  color: rgb(127, 129, 136);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
  cursor: pointer;
}

.gradient {
  background: linear-gradient(0deg, rgb(89, 89, 89) 0%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.retro-container {
  text-align: center;
  padding: 20px;
  background: url('../public/hp.webp') center/cover;
  min-height: 100vh;
  color: #fff;
  font-family: 'IM Fell English SC', serif;
  padding-top: 100px;
}  
.harry-potter-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px black;
} 
.add-card {
  font-family: 'IM Fell English SC', serif;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(30, 29, 28);
  display: flex;
  justify-content: center;
  align-items: center;
} 
.emoji-btn {
  border-radius: 50%;
  background: #323232;
  width: 50px;
  height: 50px;
}
.emoji-btn:hover{
  box-shadow: 0 0 10px #323232;
}